flask
torch
transformers
sentence-transformers
faiss-cpu
numpy
onnx
onnxruntime
protobuf
sympy
mpmath
setuptools
safetensors
regex
ml_dtypes
hf_xet
jinja2
markupsafe
langchain
langchain-community
langchain-core
langchain-groq
langchain-mistralai
langchain-text-splitters
flask-cors